.wrapper {
  width: 90%;
  margin: 0 auto;
}

.scroll-hidden {
  overflow: hidden;
}

.flex-wrap {
  @include flex(row, space-between, flex-start, wrap);
}

.flex-wrap_center {
  @include flex(row, center, flex-start, wrap);
}

.line {
  margin: 30px 0;
}
